<div class="container-fluid">
  <div *ngIf="!isEpisodeInvalid" class="row">
    <div class="col-sm-12 col-md-4">
      <img id="poster" [src]="movie.poster" alt="Movie poster">
    </div>
    <div class="col-sm-12 col-md-8 data-col">
      <div class="row episode-row">
        <h5 id="episode">Episode {{movie.roman}}</h5>
      </div>
      <div class="row">
        <h1 id="title">{{movie.title | uppercase }}</h1>
      </div>
      <div class="row detail-row">
        <div class="col-md-2 col-sm-12">
          <span class="data-label">Director:</span>
          <br>
          <span class="data">{{movie.director}}</span>
        </div>
        <div class="col-md-2 col-sm-12">
          <span class="data-label">Producer:</span>
          <br>
          <span class="data">{{movie.producer}}</span>
        </div>
        <div class="col-md-2 col-sm-12">
          <span class="data-label">Release Date:</span>
          <br>
          <span class="data">{{formatedDate}}</span>
        </div>
      </div>
      <span id="crawl">"{{movie.opening_crawl}}"</span>

    </div>
  </div>
  <div *ngIf="isEpisodeInvalid">
    <span class="invalid">Invalid episode</span>
  </div>
</div>